<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Form</title>
    <link rel="stylesheet" href="style">
</head>
<body style="background-color: rgb(255,0,232);
background: linear-gradient(90deg, rgba(255,0,232,1) 0%, rgba(123,0,255,1) 100);;">
    <form action="">
        <center>
            <table border="0" cellspacing"0" cellspadding"6">
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                </tr>
                <tr bgcolor="white">
                    <td colspan="3" ><p style="color: white;">EVENT REGISTRATION</p></td>
                    <td></td>
                </tr>
                <tr bgcolor="white" >
                    <td>Name    </td>
                    <td>:</td>
                    <td><input type="text" name="nma" id=""></td>
                    <td><input type="text" name="nma" id=""></td>
                </tr>
                <tr bgcolor="white" cellspacing="0" cellpading="1">
                    <td></td>
                    <td>:</td>
                    <td ><p style="font-size: 12px; margin-top: 0px; color: gray; margin-bottom: 0;">Fir
                    <td><p style="font-size: 12px; margin-top: 0px; color: gray; margin-bottom: 0;">Last
                </tr>
                <tr bgcolor="white">
                    <td>Company </td>
                    <td>:</td>
                    <td colspan="4"><input type="text" name="Company" id=""></td>
                </tr>
                <tr bgcolor="white">
                    <td>Email   </td>
                    <td>:</td>
                    <td><input type="email" name="email" id=""></td>
                    <td></td>
                </tr>
                <tr bgcolor="white" >
                    <td>Phone   </td>
                    <td>:</td>
                    <td><input type="number" name="phone" id=""></td>
                </tr>
        </center>

</body>
</html>
